<!--
  Generated template for the CompletedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>Completed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="no-scroll">
  <div *ngIf="success">
    <ion-row class="text-center">
      <ion-icon color="secondary" col class="complete-icon" name="checkmark-circle"></ion-icon>
    </ion-row>

    <ion-row class="text-center">
      <h3 col>Successful</h3>
    </ion-row>

    <ion-list>

      <ion-row>
        <ion-item no-padding>
          <ion-col col-6>Booking ID : </ion-col>
          <ion-col col-6>{{bookingId}}</ion-col>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item no-padding>
          <ion-col col-6>Booking Type : </ion-col>
          <ion-col col-6>{{type}}</ion-col>
        </ion-item>
      </ion-row>

      <ion-col *ngIf="work == 1" class="text-right hilight" col-12>Thank you for your booking with us <br/> we will contact you soonest.</ion-col>

    </ion-list>
  </div>

  <div *ngIf="!success">
      <ion-row class="text-center">
        <ion-icon color="danger" col class="complete-icon" name="close-circle"></ion-icon>
      </ion-row>

      <ion-row class="text-center">
        <ion-col col-12>{{message}}</ion-col>
      </ion-row>
      
  </div>

  <button (click)="toHome();" ion-button icon-left block >
    <ion-icon  name="home"></ion-icon>
    Home
  </button>

  <button (click)="toHistory();"  ion-button icon-left block >
    <ion-icon  name="clock"></ion-icon>
    Booking History
  </button>

</ion-content>
