<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="closemodal()">
        <span ion-text>Close</span>
      </button>
    </ion-buttons>
    <ion-title>Pickup Address</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form #addpick="ngForm">
    <ion-list no-lines>

      <ion-item no-padding>
        <ion-label no-padding col-6>Contact Name </ion-label>
        <ion-input [(ngModel)]="add.contname" name="contname" #contname="ngModel" type="text" placeholder="contact name" required=""></ion-input>
      </ion-item>
      <ion-badge [hidden]="contname.untouched && submitted == false" *ngIf="contname.invalid" float-end>Contact Name is required</ion-badge>
      <ion-item no-padding>
        <ion-label no-padding col-6>Tel. </ion-label>
        <ion-input [(ngModel)]="add.tel" name="tel" #tel="ngModel" type="text" placeholder="tel." required=""></ion-input>
      </ion-item>
      <ion-badge ion-text [hidden]="tel.untouched && submitted == false" *ngIf="tel.invalid" float-end>Tel. is required</ion-badge>
      <ion-item no-padding>
        <ion-label no-padding col-6>E-mail </ion-label>
        <ion-input [(ngModel)]="add.email" name="email" #email="ngModel" type="text" placeholder="e-mail" required=""></ion-input>
      </ion-item>
      <ion-badge [hidden]="email.untouched && submitted == false" *ngIf="email.invalid" float-end>E-mail is required</ion-badge>
      <ion-item no-padding>
        <ion-label no-padding col-6>Address </ion-label>
        <ion-input [(ngModel)]="add.address" name="address" #address="ngModel" type="text" placeholder="address" required=""></ion-input>
      </ion-item>
      <ion-badge [hidden]="address.untouched && submitted == false" *ngIf="address.invalid" color="danger" float-end>Address is required</ion-badge>
      <ion-item no-padding>
        <ion-label no-padding col-6>Zip Code </ion-label>
        <ion-input [(ngModel)]="add.zip" name="zip" type="text" placeholder="zip code"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label no-padding col-6>Country</ion-label>
        <ion-select [(ngModel)]="add.country" name="country">
          <ion-option *ngFor="let countriess of countries" value="{{countriess.co}}">{{countriess.cname}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </form>

  <button (click)="addAddress(addpick)" ion-button icon-right block >
    Done
  </button>

</ion-content>
