page-courier-booking {
  ion-label{
    color: black;
    ion-item{
      ion-label{
        color: black;
      }
    }
  }

  .butadd{
    width:50%;
    div{
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }


}
