<!--
  Generated template for the CourierSummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Courier Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor="let courier of bookingData">
   <ion-list class="margin-bottom-10" *ngFor="let masterData of courier.master">
      <ion-grid>

         <ion-row>
          <ion-col  col-6 class="label-title">Pickup Address :</ion-col>
          <ion-col  col-6>{{masterData.bc_pickup_display}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col  col-6 class="label-title">Consignee Name :</ion-col>
          <ion-col  col-6>{{masterData.bc_consignee_name}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col  col-6 class="label-title">Zipcode :</ion-col>
          <ion-col  col-6>{{masterData.bc_zipcode}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col  col-6 class="label-title">Total Weight :</ion-col>
          <ion-col  col-6>{{masterData.bc_total_weight}} Kgs.</ion-col>
        </ion-row>

        <ion-row>
          <ion-col  col-6 class="label-title">Total Calculate Weight :</ion-col>
          <ion-col  col-6>{{masterData.bc_cal_weight}} Kgs.</ion-col>
        </ion-row>

        <ion-row>
          <ion-col  col-6 class="label-title">Destination Address :</ion-col>
          <ion-col  col-6>{{masterData.bc_destination}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col  col-6 class="label-title">Contact Name :</ion-col>
          <ion-col  col-6>{{masterData.bc_contact_info}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col  col-6 class="label-title">Shipper Reference :</ion-col>
          <ion-col  col-6>{{masterData.bc_remark}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col  col-6 class="label-title">Total Cost :</ion-col>
          <ion-col  col-6>{{masterData.bc_courier_cost}}</ion-col>
        </ion-row>
        <ion-col class="text-right hilight"  col-12>*Include VAT and Fuel</ion-col>

       </ion-grid>

    </ion-list>

        <ion-list>
          <ion-list-header>
            <span class="label-title">Packing List</span>
          </ion-list-header>
        

          <ion-card *ngFor="let detailData of courier.detail">
            <ion-card-header text-wrap color="primary">
              Packing List {{detailData.bcd_seq}}
            </ion-card-header>
                <ion-grid>
                  <ion-row>
                    <ion-col  col-6 class="label-title">Commodity :</ion-col>
                    <ion-col  col-6>{{detailData.commodity}}</ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col  col-6 class="label-title">Dimension :</ion-col>
                    <ion-col  col-6>{{detailData.bcd_width}} x {{detailData.bcd_long}} x {{detailData.bcd_heigth}} cm.</ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col  col-6 class="label-title">Weight :</ion-col>
                    <ion-col  col-6>{{detailData.bcd_unit_weight}} Kgs.</ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col  col-6 class="label-title">Quantity :</ion-col>
                    <ion-col  col-6>{{detailData.bcd_quantity}}</ion-col>
                  </ion-row>
                </ion-grid>
          </ion-card>

        </ion-list>
        <ion-list no-lines>
            <ion-col>
             By clicking "confirm" you are agreeing that your packing list(s) are excluded <span (click)="dgModalShow();" class="hyperlink">Prohibited Items</span>.
            </ion-col>
        </ion-list>
    <div *ngFor="let masterData of courier.master">
      <button (click)="toComplete(masterData.bc_booking_id);" ion-button icon-right block >
            Confirm
            <ion-icon name="checkmark"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>
