<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>News & Promotion</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>

    <ion-segment [(ngModel)]="np">
      <ion-segment-button  value="news">
        News
      </ion-segment-button>
      <ion-segment-button  value="promotion">
        Promotion
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="np =='news'">
    <ion-card (click)="toDetail(n.b_item_id);" *ngFor="let n of news" class="padding-bottom-2">
      <img [src]="n.image" />
      <ion-card-content>
        <ion-card-title>
          {{n.b_topic}}
        </ion-card-title>

        <p class="overflow-text">
          {{n.b_short_desc}}
        </p>

        <button ion-button  small  class="align-right">
            <span>Read More
              <!--<ion-icon name="arrow-forward"></ion-icon>-->
             </span>
        </button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="np =='promotion'">
    <ion-card (click)="toDetail(p.b_item_id);" *ngFor="let p of promotions" class="padding-bottom-2">
      <img [src]="p.image" />
      <ion-card-content>
        <ion-card-title>
          {{p.b_topic}}
        </ion-card-title>
        <p class="overflow-text">
          {{p.b_short_desc}}
        </p>

        <button ion-button  small  class="align-right">
            <span>Read More
              <!--<ion-icon name="arrow-forward"></ion-icon>-->
             </span>
        </button>

        <!-- <button ion-button>Read More</button> -->
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
