<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>News & Promotion</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>

    <ion-segment [(ngModel)]="np">
      <ion-segment-button  value="news">
        News
      </ion-segment-button>
      <ion-segment-button  value="promotion">
        Promotion
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content>


  <div *ngIf="np =='news'">
  <ion-card>
    <img src="assets/img/slide_1.jpg" />
    <ion-card-content>
      <ion-card-title>
        Nine Inch Nails Live
      </ion-card-title>

      <p class="overflow-text">
        The most popular industrial group ever, and largely
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
        responsible for bringing the music to a mass audience.
      </p>

      <button (click)="toDetail();" ion-button icon-right small clear class="align-right">
          <span >More detail
            <ion-icon name="arrow-forward"></ion-icon>
           </span>
      </button>
    </ion-card-content>
  </ion-card>
  </div>

  <div *ngIf="np =='promotion'">
  <ion-card>
    <img src="assets/img/slide_1.jpg" />
    <ion-card-content>
      <ion-card-title>
        Promotion last week.
      </ion-card-title>
      <p class="overflow-text">
        The Promotion example.
      </p>

      <button (click)="toDetail();" ion-button icon-right small clear class="align-right">
          <span >More detail
            <ion-icon name="arrow-forward"></ion-icon>
           </span>
      </button>

      <!-- <button ion-button>Read More</button> -->
    </ion-card-content>
  </ion-card>
  </div>


</ion-content>
