<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="closemodal()">
        <span ion-text>Close</span>
      </button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll">
<img class="width-80 margin-left-10 margin-bottom-7 margin-top-5" src="assets/img/logoTemp.png" />
  <form [formGroup]="authForm" (ngSubmit)="onLogin(authForm.value.username,authForm.value.password)">
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" value="" formControlName="username" [(ngModel)]="user"></ion-input>
      <ion-badge *ngIf="username.hasError('required') && submitted" item-end>Username Required</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" value="" formControlName="password" [(ngModel)]="pass"></ion-input>
      <ion-badge *ngIf="password.hasError('required') && submitted" item-end>Password Required</ion-badge>
    </ion-item>
    <br/><br/>
    <button ion-button type="submit" block>Login</button>
  </form>
 <button ion-button (click)="user ='test123' ; pass = '123456';">Test Account</button>
</ion-content>
