.overflow-text{
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title , ion-card,div {
font-family: 'Lato', sans-serif !important;
font-size: 16px;
// font-weight: 500;
}
