<ion-header>
  <ion-navbar>
    <ion-title>LCL Booking</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #lclbooking="ngForm" novalidate>
    <ion-list no-lines>

      <ion-item no-padding>
        <ion-label no-padding col-6 >POD</ion-label>
        <ion-select [(ngModel)]="lcl.pod" name="pod" required>
          <ion-option *ngFor="let pod of pods" value="{{pod.va}}">{{pod.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding>
        <ion-label no-padding col-6>Date</ion-label>
        <ion-datetime  displayFormat="DDD DD/MMM/YYYY" min="2016" max="2020-10-31" [(ngModel)]="lcl.myDate" name="myDate" #myDate="ngModel" placeholder="select date" required></ion-datetime>
      </ion-item>
      <p ion-text [hidden]="myDate.valid || submitted == false" color="danger" padding-left>
        Date is required
      </p>

      <ion-item no-padding>
        <ion-label no-padding col-6 >Volume (CBM)</ion-label>
        <ion-input [(ngModel)]="lcl.volume" name="volume" type="number" placeholder="volume" #volume="ngModel" required></ion-input>
      </ion-item>
      <p ion-text [hidden]="volume.valid || submitted == false" color="danger" padding-left>
        Volume is required
      </p>

      <ion-item no-padding>
        <ion-label no-padding col-6>Gross Weight</ion-label>
        <ion-input [(ngModel)]="lcl.gw" name="gw" type="number" placeholder="g.w." #gw="ngModel" required></ion-input>
        <ion-select [(ngModel)]="lcl.gtype" name="gtype">
          <ion-option *ngFor="let gtype of gtypes" value="{{gtype.va}}">{{gtype.name}}</ion-option>
        </ion-select>
      </ion-item>
      <p ion-text [hidden]="gw.valid || submitted == false" color="danger" padding-left>
        Groos Weight is required
      </p>

    </ion-list>

    <button color="calm" (click)="showMore=!showMore" ion-button icon-right small clear class="align-right">

			<span *ngIf="!showMore">More detail
			  <ion-icon name="arrow-down"></ion-icon>
			 </span>

      <span *ngIf="showMore">Hide detail
			  <ion-icon name="arrow-up"></ion-icon>
			 </span>

    </button>

    <ion-list *ngIf="showMore" no-lines>

      <ion-item no-padding>
        <ion-label no-padding col-6>Commodity</ion-label>
        <ion-select [(ngModel)]="lcl.commodity" name="commodity">
          <ion-option value="ct">Cartons</ion-option>
          <ion-option value="se">Ceramic</ion-option>
          <ion-option value="gl">Glasses</ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding>
        <ion-label no-padding col-6>Quantity</ion-label>
        <ion-input type="text" [(ngModel)]="lcl.quantity" name="quantity" placeholder="quantity"></ion-input>
        <ion-select [(ngModel)]="lcl.qtype" name="qtype">
          <ion-option value="ea">EA</ion-option>
          <ion-option value="pi">Pieces</ion-option>
          <ion-option value="bx">Boxs</ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding>
        <ion-label no-padding col-6>Addition Detail</ion-label>
        <ion-input type="text" placeholder="addition" [(ngModel)]="lcl.adetail" name="adetail"></ion-input>
      </ion-item>

      <br/>
      <ion-list-header>
        Shipper Reference
      </ion-list-header>

      <ion-item no-padding col-5>Carrier :</ion-item>
      <ion-item no-padding col-5>Vessel :</ion-item>
      <ion-item no-padding col-5>Feeder :</ion-item>
      <ion-item no-padding col-5>Closing Date :</ion-item>
      <ion-item no-padding col-5>ETD :</ion-item>
      <ion-item no-padding col-5>ETA :</ion-item>

    </ion-list>
    <button (click)="CheckSts(lclbooking)" ion-button icon-right block type="submit">
      Next
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
    </button>
  </form>


</ion-content>
