<ion-header>
  <ion-navbar>
    <ion-title>LCL Booking</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #lclbooking="ngForm" novalidate>
    <ion-list no-lines>

      <ion-item no-padding>
        <ion-label no-padding col-6 >POD</ion-label>

        <ion-select [(ngModel)]="lcl.pod" name="pod" #pod="ngModel" placeholder="Please Select" required>
          <ion-option *ngFor="let pod of pods" [value]="pod">{{pod.qc_lookup_value2}}</ion-option>
        </ion-select>

      </ion-item>
      <ion-badge *ngIf="loadDate.valid && pod.invalid" [hidden]="pod.valid" float-end>Please select POD</ion-badge>

      <ion-item no-padding>
        <ion-label no-padding col-6>Loading Date</ion-label>
        <ion-datetime  displayFormat="DDD DD/MMM/YYYY" min="2016" max="2020-10-31" [(ngModel)]="lcl.loadDate" name="loadDate" #loadDate="ngModel" placeholder="Please Select" required></ion-datetime>
      </ion-item>
      <ion-badge ion-text *ngIf="loadDate.invalid" float-end>
        Please Select Date
      </ion-badge>

      <ion-item no-padding>
        <ion-label no-padding col-6 >Volume (CBM)</ion-label>
        <ion-input [(ngModel)]="lcl.volume" name="volume" type="number" placeholder="volume" #volume="ngModel" required></ion-input>
      </ion-item>
      <ion-badge ion-text [hidden]="!volume.touched" *ngIf="volume.invalid" float-end>
        Volume is required
      </ion-badge>

      <ion-item no-border no-padding>
        <ion-label no-padding col-6>Gross Weight</ion-label>
        <ion-input [(ngModel)]="lcl.gw" name="gw" type="number" placeholder="g.w." #gw="ngModel" required></ion-input>
        <ion-select [(ngModel)]="lcl.gwunit" name="gwunit" >
          <ion-option *ngFor="let gwunit of gwunits" [value]="gwunit" [selected]="gwunit.qc_lookup_value1 == 'kg.'">{{gwunit.qc_lookup_value1}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-badge ion-text *ngIf="gw.invalid" [hidden]="!gw.touched" float-end>
        Groos Weight is required
      </ion-badge>

    </ion-list>

    <button color="calm" (click)="showMore=!showMore" ion-button icon-right small clear class="align-right">

			<span *ngIf="!showMore">More detail
			  <ion-icon name="arrow-down"></ion-icon>
			 </span>

      <span *ngIf="showMore">Hide detail
			  <ion-icon name="arrow-up"></ion-icon>
			 </span>

    </button>

    <ion-list [class.hide]="!showMore" no-lines>

      <ion-item no-padding>
        <ion-label no-padding col-6>Commodity</ion-label>
        <ion-select [(ngModel)]="lcl.commodities" name="commodities">
           <ion-option *ngFor="let commodity of commodities" [value]="commodity">{{commodity.qc_lookup_value1}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding>
        <ion-label no-padding col-6>Quantity</ion-label>
        <ion-input type="text" [(ngModel)]="lcl.quantity" name="quantity" placeholder="quantity"></ion-input>
        <ion-select [(ngModel)]="lcl.package" name="package">
          <ion-option *ngFor="let package of packages" [value]="package" [selected]="package.qc_lookup_value1 == 'carton(s)'">{{package.qc_lookup_value1}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding>
        <ion-label no-padding col-6>Addition Detail</ion-label>
        <ion-input type="text" placeholder="addition" [(ngModel)]="lcl.detail" name="detail"></ion-input>
      </ion-item>

      <br/>
      <div *ngIf="(scheduleData | json) != ({} | json)" >
        <ion-list-header>
          Shipper Reference
        </ion-list-header>

        <ion-item no-padding col-5>Carrier :</ion-item>
        <ion-item no-padding col-5>Vessel :</ion-item>
        <ion-item no-padding col-5>Feeder :</ion-item>
        <ion-item no-padding col-5>Closing Date :</ion-item>
        <ion-item no-padding col-5>ETD :</ion-item>
        <ion-item no-padding col-5>ETA :</ion-item>
      </div>

    </ion-list>
    <button (click)="CheckSts(lclbooking)" ion-button icon-right block type="submit" [disabled]="!lclbooking.form.valid">
      Next
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
    </button>
  </form>


</ion-content>
