<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="closeModal(null)">
        <span ion-text>Close</span>
      </button>
    </ion-buttons>
    <ion-title>Pickup Address</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card *ngFor="let pickupItem of pickupAddress" >

      <ion-card-header no-padding text-wrap color="primary">

        <button padding *ngIf="!selected(pickupItem.pa_address_id)" (click)="editPickup(pickupItem);" no-padding color="calm" ion-button icon-left class="align-left" small clear>
          <ion-icon color="calm" name="md-create"></ion-icon><span >Edit</span>
        </button>
        <button padding *ngIf="selected(pickupItem.pa_address_id)" (click)="editSelect(pickupItem);" no-padding color="calm" ion-button icon-left class="align-left" small clear>
          <ion-icon color="calm" name="md-create"></ion-icon><span >Edit</span>
        </button>
        <button padding (click)="confirmDelete(pickupItem.pa_address_id)" no-padding  ion-button icon-left class="align-right" small clear>
          <ion-icon name="remove"></ion-icon><span>Delete</span>
        </button>

      </ion-card-header>

      <ion-grid>
        <ion-row>
          <ion-col  col-12>{{pickupItem.pa_address_display}}</ion-col>
        </ion-row>

        <ion-item>
          <button [hidden]="checkFromPage == 'ProfilePage' || selected(pickupItem.pa_address_id)" (click)="selectPickup(pickupItem)" color="calm" small ion-button outline item-right>Select</button>
          <button *ngIf="selected(pickupItem.pa_address_id)" [disabled]="true" outline ion-button small item-right>Selected</button>
        </ion-item>

      </ion-grid>

  </ion-card>

    <ion-fab right bottom>
      <button (click)="addPickup()" ion-fab color="calm"><ion-icon large name="add"></ion-icon></button>
    </ion-fab>

</ion-content>
