<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="closemodal()">
        <span ion-text>Close</span>
      </button>
    </ion-buttons>
    <ion-title>{{StatusText}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<form #citem="ngForm">
  <ion-list no-lines>

    <ion-item no-padding>
      <ion-label no-padding col-6>Commodity </ion-label>
      <ion-select [(ngModel)]="item.commodity" name="commodity" #commodity="ngModel">
        <ion-option *ngFor="let commo of commodities" value="{{commo.va}}">{{commo.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list no-lines>
    <ion-list-header>
      <h4 no-padding col-6>Dimension</h4>
    </ion-list-header>

    <ion-item no-padding>
      <ion-label no-padding col-3>Width </ion-label>
      <ion-label no-padding col-1>x</ion-label>
      <ion-label no-padding col-3>Length</ion-label>
      <ion-label no-padding col-1>x</ion-label>
      <ion-label no-padding col-3>Height</ion-label>
    </ion-item>


    <ion-row>
      <ion-input col [(ngModel)]="item.dwidth" name="dwidth" #dwidth="ngModel" type="number" placeholder="Width" required></ion-input>
      <p col-1>x</p>
      <ion-input col [(ngModel)]="item.dlength" name="dlength" #dlength="ngModel" type="number" placeholder="Length" required></ion-input>
      <p col-1>x</p>
     <ion-input col [(ngModel)]="item.dheight" name="dheight" #dheight="ngModel" type="number" placeholder="Height" required></ion-input>
    </ion-row>

    <ion-badge ion-text [hidden]="dheight.untouched && submitted == false" *ngIf="dheight.invalid" float-end>Height is required</ion-badge>
    <ion-badge ion-text [hidden]="dlength.untouched && submitted == false"  *ngIf="dlength.invalid" float-end>Length is required</ion-badge>
    <ion-badge ion-text [hidden]="dwidth.untouched && submitted == false" *ngIf="dwidth.invalid" float-end>Width is required</ion-badge>
  </ion-list>

  <ion-list no-lines>
    <ion-item no-padding>
      <ion-label no-padding col-6>Weight : </ion-label>
      <ion-input [(ngModel)]="item.weight" name="weight" #weight="ngModel" type="number" placeholder="Weight" required></ion-input>
      <ion-note item-end>
        Kgs.
      </ion-note>
    </ion-item>
    <ion-badge ion-text [hidden]="weight.untouched && submitted == false" *ngIf="weight.invalid" float-end="">Weight is required</ion-badge>

    <ion-item no-padding>
      <ion-label no-padding col-6>Quantity : </ion-label>
      <ion-input [(ngModel)]="item.quantity" name="quantity" #quantity="ngModel" type="number" placeholder="Quantity" required></ion-input>
    </ion-item>
    <ion-badge ion-text [hidden]="quantity.untouched && submitted == false" *ngIf="quantity.invalid" float-end>Quantity is required</ion-badge>

  </ion-list>

</form>

  <button (click)="addItem(citem)" [disabled]="!citem.form.valid" ion-button block >
    {{StatusText}}
  </button>

</ion-content>
